# -*-mode:conf-*-
[user]
    name = lgfang
    email = lgfang78@nomail.com

[checkout]
    defaultRemote=origin

[core]
    excludesfile = ~/.gitignore # A global ignore file
    # autocrlf = false
    # filemode = false
    # pager = less -r   # uncomment this line to have "less" wrap long lines when 'git diff'
    # editor = emacsclient -a \"\" -t

[alias]
    br = branch
    pk = cherry-pick
    co = checkout
    ci = commit
    amend = commit --amend
    df = diff
    ds = diff --stat
    dc = diff --cached
    rb = rebase
    rst = reset
    st = status

    lg = log --graph --abbrev-commit --pretty=format:'%C(cyan)%h%C(reset) - %C(green)%s %C(dim white)- %cr (%an)%C(reset) %C(yellow)%d'
    topo = log --graph --simplify-by-decoration --pretty=format:"%d%h" --all
    last = log -1 HEAD

    # update local repository and removes remote-tracking branches that no
    # longer exist on remote
    up = pull --rebase --prune

    # http proxy
    hp = config --global http.proxy localhost:8888
    nohp = config --global http.proxy ""

    recent-branches = for-each-ref refs/heads --sort='-committerdate' --format='%(committerdate:iso) %(refname:short)%09 %(authorname)%09 - %(contents:subject)'

[credential]
    helper = cache --timeout=3600

[color]
    ui = auto

[diff]
    wsErrorHighlight = all

[apply]
    whitespace = warn
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
